.path{ style: "display: none;" }
  = @sheet.title
.content
  .sheet
    %p#notice= notice
    %p
      %b Title:
      = @sheet.title
    %p
      %b Body:
      = @sheet.body
    = link_to 'Edit', edit_sheet_path(@sheet)
    |
    \#{link_to 'Back', sheets_path}
.sheet_container{ style: "display: none;" }
