!!!
!= cc_html(:class => 'no-js', :lang => 'en') do
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}

    %title sheetmachine

    = stylesheet_link_tag    "application", :media => "all"
    = content_for :head_elements_at_bottom do
      = javascript_include_tag "application"
    = favicon_link_tag
    = csrf_meta_tags

  %body
    #page
      #page_container
        .sheet_container{ id: "root_container" }
          = yield

  != yield :head_elements_at_bottom
  != yield :bottom

